body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color:transparent;
    position: fixed;
    width: 100%;

}
nav img{
    cursor: pointer;
    width: 200px;
    margin-left: 5vw;
    margin-top: 5px;
    justify-content: center;
}
nav ul{
    font-size: 20px;
    display: flex;
    margin-left: 3px;
    justify-content: space-between;
    list-style: none;
    margin-right: 40vh;
} 
nav ul a{
    color: white;
    margin-left: 30px;
    text-decoration: none;
}
nav ul li a:hover{
    color: green;
    
}

#home{
    background-image:url(Images/Home.png);
    width: 100%;
    height: 100vh;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
#home h1{
    letter-spacing: 5px;
    font-size: 50px;
    font-family: "Pacifico", cursive;
    margin-bottom: 3px;
}
#home h1::after{
    content: "";
    display: block;
    position: absolute;
    width: 400px;
    height: 4px;
    background:white;
    
}
#home p{
    letter-spacing: 2px;
    font-weight: 50px;
}
#Trainings{
padding: 5vw 8vw 0 8vw;
text-align: center;
}
#Trainings .ContentParentBox{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px,1fr));
    grid-gap:1rem;
    margin-top: 50px;
    

}
.ContentBox{
    text-align: start;
    background-color: white;
}
.ContentBox i{
    font-size: 2.3rem;
    color: rgb(57, 57, 102);
}
.ContentBox h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:rgb(57, 57, 102) ;
    padding: 2px;
}
.ContentBox p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    font-size: 14px;
    font-size: 15px;
}